@import "../../../css-config/color.scss";
@import "../../../css-config/font.scss";
@import "../../../css-config/mixins.scss";

.form-main-conatiner {
  height: 100%;

  max-width: calc(100% - 30px);
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  @include md{
    margin: 40px auto;
    max-width: 550px;
  }

  &::-webkit-scrollbar {
      visibility: hidden;
    }

  .form-box {
    font-family: $font-montserrat;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include md{
        gap: 40px;

    }

    .form-text {
      .form-title {
        font-size: $fs-24;
        font-weight: $fw-bold;
        @include md {
          font-size: $fs-32;
        }
      }
      .form-subtitle {
        font-size: $fs-12;
        font-weight: $fw-regular;
        @include md {
          font-size: $fs-16;
        }
      }
    }

    .form-field-main {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .form-field {
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 10px;
        input {
          width: 100%;
          height: 100%;
          padding: 5px;
          background-color: transparent;
          border: none;
          outline: none;
          font-size: $fs-12;
          @include md{
              padding: 8px;
            font-size: $fs-14;
          }
        }
        span {
          position: absolute;
          top: 0;
          transform: translateY(-50%);
          background-color: white;
          padding: 1px 5px;
          font-size: 10px;
          font-weight: 400;
          line-height: 17.07px;
          @include md {
            font-size: 12px;
          }
        }
      }
    }

    .auth-remember {
      font-size: $fs-12;
      font-weight: 400;
      @include md{
        font-size: $fs-14;
      }
    }

    .auth-btn-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      button {
        height: 48px;
        background-color: $mint-green;
        width: 100%;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
        line-height: 17.07px;
        &:hover {
          opacity: 0.9;
        }
      }
      div {
        font-size: $fs-12;
        font-weight: 400;
        @include md {
          font-size: $fs-14;
        }
      }
    }

    .auth-divider-line {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;
      span {
        position: absolute;
        background-color: white;
        padding: 2px 20px;
        font-weight: $fw-regular;
        line-height: 17.07px;
        color: rgba(0, 0, 0, 0.5);
        font-size: $fs-12;
        @include md {
          font-size: $fs-14;
        }
      }
      .divider-line {
        width: 100%;
        height: 0.5px;
        opacity: 25%;
        background-color: #112211;
      }
    }

    .login-social-btn {
      display: flex;
      gap: 16px;
      justify-content: center;
      div {
        cursor: pointer;
        background-color: $neutrals;
        width: 120px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8dd3bb;
        &:hover {
          opacity: 0.9;
        }
        @include md {
          width: 100%;
          max-width: 150px;
          height: 50px;
        }
      }
    }
  }
}
