@import "../../css-config/font.scss";

@import "../../css-config/color.scss";

@import "../../css-config/mixins.scss";

.header-main {
  background-color: transparent;
  font-family: $font-montserrat;
  font-weight: $fw-semibold;
  color: #fff;
  margin: 0 auto;
  z-index: 100;
  .header-content {
    max-width: calc(100% - 40px);
    height: 70px;
    @include md {
      max-width: calc(100% - 60px);
      height: 90px;
    }
    @include xl {
      max-width: 1400px;
    }

    .header-left {
      gap: 32px;
      li {
        cursor: pointer;
        line-height: 90px;
        font-size: $fs-14;
        display: flex;
        align-items: center;
        gap: 4px;
        border-bottom: 5px solid transparent;
        svg {
          height: 24px;
          width: 24px;
        }
        &:hover {
          border-color: $mint-green;
        }
      }
    }
    .header-center {
      cursor: pointer;
      @include md {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      svg {
        width: 100%;
        height: 24px;
        @include md {
          height: 36px;
        }
      }
    }

    .header-right {
      gap: 10px;
      .btn-bars {
        background-color: $blackish-green;
        color: #fff;
        border-radius: 8px;
        padding: 8px;
        font-size: $fs-20;
        height: 40px;
        @include md {
          display: none;
        }
        &:hover {
          opacity: 0.7;
        }
      }
      .without-login {
        gap: 10px;
        @include md {
          gap: 32px;
        }
        .btn {
          width: Fill (52px) px;
          height: Fill (24px) px;
          padding: 5px 12px;
          gap: 8px;
          opacity: 0px;
          @include md {
            width: Fill (104px) px;
            height: Fill (48px) px;
            padding: 10px 24px 10px 24px;
            cursor: pointer;
          }
          &.btn-fill {
            display: none;
            border-radius: 8px;
            font-size: $fs-14;
            @include md {
              display: block;
            }
          }
          &:hover {
            opacity: 0.8;
          }
        }
      }
      .with-login {
        align-items: center;
        gap: 16px;
        .favourite {
          cursor: pointer;
          display: none;
          gap: 4px;
          align-items: center;
          line-height: 90px;
          border-bottom: 5px solid transparent;
          @include md {
            display: flex;
          }
          svg {
            width: 19.5px;
            height: 18px;
            top: 3px;
            left: 2.25px;
            gap: 0px;
            opacity: 0px;
          }
          &:hover {
            border-color: $mint-green;
          }
        }
        .divider-right {
          display: none;
          width: 5px;
          height: 27px;
          @include md {
            display: flex;
          }
        }
        .avatar-main {
          display: flex;
          align-items: center;
          gap: 4px;

          .avatar {
            cursor: pointer;
            position: relative;
            .down-icon {
              height: 14px;
              width: 14px;
              position: absolute;
              bottom: 0;
              right: 0;

              .user-short-detail {
                box-shadow: 0px 2px 10px 0px #0000000d;
                color: $blackish-green;
                width: 329px;
                height: 363px;
                position: absolute; 
                padding: 32px 0px 0px 0px;
                border-radius: 12px 0px 12px 12px;
                background-color: #fff;
                opacity: 0px;
                display: flex;
                align-items: center;
                flex-direction: column;
                top: 30px;
                right: -100px;
                gap: 24px;
                z-index: 50;
                @include md{
                  top: 20px;
                  right: 0;

                }
                .user-short-detail-devider {
                  width: 265px;
                  height: 0.5px;
                  gap: 0px;
                  opacity: 0.25px;
                  background: #112211;

                }
                .user-short-detail-top {
                  display: flex;
                  gap: 16px;
                  width: 265px;
                  align-items: center;
                  .user-short-detail-name {
                    font-size: $fs-16;
                    font-weight: $fw-semibold;
                    line-height: 19.5px;
                  }
                  .user-short-detail-status {
                    font-size: $fs-14;
                    font-weight: $fw-regular;
                  }
                }
                .user-short-detail-center {
                  display: flex;
                  gap: 16px;
                  width: 265px;
                }
                .user-short-detail-bottom {
                  display: flex;
                  gap: 16px;
                  width: 265px;
                }
              }
            }
          }
          .profile-name {
            cursor: pointer;
            font-size: $fs-14;
          }
        }
      }
    }
  }
}

.apply-bg {
  background-color: $neutrals;
  color: $blackish-green;
  box-shadow: 0px 4px 16px 0px #1122110d;
}
